# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Indentation override for all JS under lib directory
[*.{mts,mjs,js,ts,vue,css,scss}]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[*.{json,yml,toml,yaml}]
indent_style = space
indent_size = 2
