repos:
  ###################################################################
  # Generic pre-commit hooks
  ###################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args:
          - --maxkb=5000

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        name: lint commit messages
        additional_dependencies: ["@commitlint/config-conventional"]

  ###################################################################
  # Hooks to QA the frontend source code for the "Admin Panel"
  ###################################################################

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: run Prettier on Front End source code
        types: [file]
        types_or:
          - javascript
          - ts
          - vue
          - sass
        args:
          - --config
          - ./front-end/.prettierrc.json
