---
import { Image } from "astro:assets";
import Slider from "./Slider.jsx";
import Arrow from "../../assets/arrow.svg";
import Mouse from "~icons/iconamoon/mouse";
import Underline from "../../assets/skillsUnderline.svg";
---

<section id="work" class="bg-[url('experience.png')]">
  <div
    class="wb-container grid grid-cols-1 sm:grid-cols-8 py-20 gap-10 items-center space-y-10"
  >
    <div
      class="hidden lg:flex flex-col items-center gap-2 sm:col-start-4 sm:col-end-6"
    >
      <Mouse class="text-3xl text-brand-1" />
      <Image src={Arrow} alt="Arrow" />
    </div>

    <span class="text-brand-2 text-8xl font-sans hidden lg:block col-start-6"
      >&lt;/&gt;</span
    >

    <div
      class="flex flex-col items-center gap-2 sm:col-start-2 sm:col-end-8
       text-brand-1"
    >
      <h2 class="text-6xl font-sans">Work</h2>
      <Image src={Underline} alt="Underline" />
      <p class="text-white">
        I had the pleasure of working with these awesome projects
      </p>
    </div>

    <Slider client:load />
  </div>
</section>
