---
import { Image } from "astro:assets";
import profileImage from "../../assets/pfp.jpg"

---

<section>
    <Image src={profileImage} alt="Profile Image" />
            <section></section>
</section>
