---
import MySidebar from "../components/MySidebar.tsx"
import OpenMenu from "~icons/ic/outline-menu";
import CloseMenu from "~icons/ic/outline-close";

---
<MySidebar>
  <h2 slot="title">Menu</h2>
  <CloseMenu slot="menu"/>
  <p>Here is a sidebar with some text and a button.</p>
  <ul slot="social-links">
    <li><a href="https://twitter.com/astrodotbuild">Twitter</a></li>
    <li><a href="https://github.com/withastro">GitHub</a></li>
  </ul>
</MySidebar>