name: Code QA Checks

on:
  push:
  pull_request:
    types:
      - ready_for_review
      - opened
      - edited
      - synchronize

permissions: read-all

jobs:
  ########################################################################
  # QA checks for the source code on the front end
  ########################################################################
  qa-check-website:
    name: "[FRONT END] Code Quality Check"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./website
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4.3.0
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: "./website/pnpm-lock.yaml"

      - name: Install Dependencies
        run: pnpm install

      - name: Run QA Check Tools
        run: |
          pnpm run lint
          pnpm run format
